name: JuliaFormatter

on:
  push:
    branches:
      - master
      - trying
      - staging
    tags: '*'
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.2.0
      with:
        fetch-depth: 0
    - run: git fetch origin
    - uses: julia-actions/setup-julia@v1.1.6
      with:
        version: 1.4
    - name: Apply JuliaFormatter
      run: |
        julia --project=.dev .dev/climaformat.jl .
    - name: Check formatting diff
      run: |
        git diff --color=always --exit-code
